*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.container{
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 100vw;
    height: 100vh;
    background-color: #4d545f;
}

.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3a4452;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.calculator form input{
    border: 0;
    outline: none;
    color: #fff;
    margin: 15px;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;;
    background: transparent;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.calculator form input:active{
    transform: scale(0.8);
} 

.calculator form input.display-screen:active{
    transform: none;
}

form .display input{
    width: 92%;
    text-align: end;
    background: rgba(0,0,0,0.45);
    padding-block: 40px;
    font-size: 25px;
    box-shadow: none;
}

h2{
    color:#aeaeae;
    margin-left: 20px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}

p{
    color: #aeaeae;
    margin-left: 20px;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

form input.blue-btn{
    color:#6a8fc3;
}


/* Media Queries */
@media screen and (max-width: 824px) {
    .calculator{
        padding: 10px;
    }

    .calculator form input {
        margin: 10px;
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    form .display input{
        width: 92%;
        padding-block: 35px;
    }
}